@charset "UTF-8"; 

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#4040ca,#3c3c7a);
}

main {
    background-color:white;
    border-radius:10px;
    box-shadow: 5px 5px 3px rgba(26, 25, 114, 0.712);
    width:600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#2d2dec;
    text-align: center;
    text-shadow: 1px 1px 2px #0e0e50b2;
}


h2 {
    color:#404086;

}

p {
    text-align: justify;
}