body{
    background-color:#ffffff;
}
h1{
    color:#009ac7;
}
h2{
    color:#009ac7;
}
h3{
    color:#8b8b8b;
}
p{
    color:#8b8b8b;
}
ol{
    color:#8b8b8b;
}
ul{
    color:#8b8b8b;
}
li{
    color:#8b8b8b;
}