@media screen and (min-width:1280px) and (max-width: 1920px) { /*DESKTOP*/
    main {
        max-width: 65vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1300px) { /* TABLET */
    main {
        max-width: 80vw;
    }
}

@media screen and (min-width:320px) and (max-width:767px) { /*Celulares*/
    main {
        max-width: 90vw;
    }
}

@media screen and (min-width: 768px)  { 
    span#burguer{
        display: none;
    }
 }
