@charset "UTTF-8";

/*Shrikhand*/
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Shrikhand&display=swap');

/*funnel sans*/
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'mix';
    src: url(../fontes/Gotham-Bold.otf);
}

body, html {
    background-color: rgb(255, 202, 202);
    background-color:#5D7078 ;
}

header {
    background-color: rgb(0, 0, 0);
}

header > h1 {
    padding: 10px;
    padding-top:100px ;
    margin-bottom: 100px;
    text-align: center;
    font-size: 81px;
    font-family: 'mix';
    color: white;
}

span#burger {
    background-color: rgb(145, 145, 145);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burger:hover {
    background-color: rgb(240, 231, 231);
    color: black;

}

menu {
    display: none;
}

menu > ul {
    list-style: none;
}

menu > ul > li > a {
    background-color:gray;
    color: white;
    text-align: center;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-top: 2px solid rgb(0, 0, 0);
}

menu > ul > li > a:hover {
    background-color: rgba(3, 3, 3, 0.877);
}

h1#titulo {
    padding: 10px;
    padding-top:100px ;
    padding-bottom: 100px;
    background-color: #19409b;
    color: white;
    text-align: center;
    font-family: 'shrikhand';
    font-size: 110px;

}


div#img1 {
    background: url(../imagens/Spiderpunk.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    width: 102vw;
    height: 39vw;
}


main {
    background-color:#5D7078 ;
    margin: 50px;
    margin: auto;
    border-radius: 10px;
}

article {
    padding: 0px;
    border-radius: 10px;
    background-color: #8DBBCD;
    margin-bottom: 60px; 
}

img#guitar {
    margin: auto;
    display: block;
    width: 263px;
    height: 167px;
}

article > h2 {
    background-color: black;
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 10px;
    padding: 4vw;
    text-align: center;
    font-size: 4.5em;
    font-family: 'shrikhand';
}

article > p {
    line-height: 35px;
    font-weight: 300;
    text-align: justify;
    font-size: 26px;
    padding-bottom: 20px ;
    margin: 26px;
    text-indent: 25px;
}



