@charset "UTTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'mix';
    src: url(../fontes/Gotham-Bold.otf);
}

body, html {
    background-color: rgb(255, 202, 202);
    background-color:#5D7078 ;
}

header {
    background-color: rgb(0, 0, 0);
}

header > h1 {
    padding: 10px;
    padding-top:100px ;
    margin-bottom: 100px;
    text-align: center;
    font-size: 81px;
    font-family: 'mix';
    color: white;
}

span#burger {
    background-color: rgb(145, 145, 145);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burger:hover {
    background-color: rgb(240, 231, 231);
    color: black;

}

menu {
    display: none;
}

menu > ul {
    list-style: none;
}

menu > ul > li > a {
    background-color:gray;
    color: white;
    text-align: center;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-top: 2px solid rgb(0, 0, 0);
}

menu > ul > li > a:hover {
    background-color: rgba(3, 3, 3, 0.877);
}

h1#titulo {
    padding: 10px;
    padding-top:100px ;
    padding-bottom: 100px;
    background-color: #19409b;
    color: white;
    text-align: center;
    font-family: 'grunge';
    font-size: 110px;
    
}


div#img1 {
    background: url(../imagens/Spiderpunk.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    width: 102vw;
    height: 39vw;
}


main {
    background-color: #8C9EA6;
    margin: 50px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

article {
    border-radius: 10px;
   background-color: #52ceff;
}

article > h2 {
    background-color: black;
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 2.5em;
}

article > p {
    text-align: justify;
    font-size: 1.5em;
    padding-bottom: 20px ;
    margin: 26px;
    text-indent: 20px;
}

article#ar1 {

}

article#ar2 {

}


article#ar3 {

}


article#ar4 {

}


article#ar5 {

}



