body {
    text-align: center;
    background-color: #E6EFE9;
    font-family: Arial, Helvetica, sans-serif;
}

div.conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
     
}

div.iten{
    background-color: #fb8500;
    margin: 15px;
    flex: 1 1 500px; /*AQUI ESTA O TRUQUE DO FLEX-WRAP*/
}

div#block1 {
    height: 552px;
    max-width: 736px;
    background-image: url(../img/SSX.jpeg);
    background-position: bottom center;
    background-size: cover;
    border-radius: 10px;
}

div#block2 {
    height: 552px;
    max-width: 736px;
    background-image: url(../img/Need\ For\ Speed\ Underground\ -\ Mitsubishi\ Eclipse.jpeg);
    background-position: bottom center;
    background-size: cover;
    border-radius: 10px;
}

div#block3 {
    height: 552px;
    max-width: 736px;
    background-image: url(../img/sonic_generations.png);
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}

